name: Lint

on: push

jobs:
    pre-commit:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - run: sudo sh -ec 'echo "set man-db/auto-update false" | debconf-communicate; dpkg-reconfigure man-db'
            - run: sudo apt-get install pre-commit
            - run: pre-commit run -a
